.footer__link{
    color: white;
    font-size: 18px;
    font-family: Inter;
    background-color: #0278FE;
    z-index: 1;
    text-decoration: none;
    width: 198px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px 20px;
    border-radius: 3px;
}
.footer__link:hover {
    background-color: #0063D2;
  }

  